* {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}
body {
  color: #111;
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
